<div class="well text-center">Shop</div>

<div class="row">
  <div class="col-sm-12" ng-repeat="question in questions">
    <div class="thumbnail"> 
      <div class="caption">
        <h3>{{ question.qtn }}?</h3>
        <label><input type="radio" value="{{ question.option1 }}" ng-model="questions.name"> {{ question.option1 }}</label><br />
        <label><input type="radio" value="{{ question.option2 }}" ng-model="questions.name"> {{ question.option2 }}</label><br />
        <label><input type="radio" value="{{ question.option3 }}" ng-model="questions.name"> {{ question.option3 }}</label><br />
        <label><input type="radio" value="{{ question.option4 }}" ng-model="questions.name"> {{ question.option4 }}</label><br />
        <p><a href="shop/{{item.id}}" class="btn btn-primary" role="button">next</a></p>
      </div>
    </div>
  </div>
</div>